<h1>
    {{name()}}
</h1>
<div>
    <table>
        <tr>
            <td>Nombre:</td>
            <td>{{name()}}</td>
        </tr>
        <tr>
            <td>Edad:</td>
            <td>{{age()}}</td>
        </tr>
        <tr>
            <td>Descripción:</td>
            <td>{{getHeroDescription()}}</td>
        </tr>
        <tr>
            <td>Alias:</td>
            <td>{{alias()}}</td>
        </tr>
    </table>
</div>
<!-- Los botones llaman al método correspondiente mediante el evento click -->
<div>
    <button class="btn btn-primary mx-2" (click)="modifyName()"> <!--Modifica el nombre del héroe, cada vez que se da click -->
    Cambiar Nombre
    </button>
    <button class="btn btn-primary mx-2" (click)="modifyAge()"> <!--Modifica la edad del héroe, cada vez que se da click -->
        Cambiar Edad
    </button>
    <button class="btn btn-primary mx-2" (click)="modifyAlias()"> <!--Modifica el alias del héroe, cada vez que se da click -->
        Cambiar Alias
    </button>
    <button (click)="reset()">Reset</button>
</div>

